<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow mx-auto">
    <nav class="my-2 my-md-0 me-md-3">
      <a class="p-2 text-dark text-decoration-none" href="{% url 'store:new-orders' %}">Reception</a>
      <a class="p-2 text-dark text-decoration-none" href="{% url 'store:order-list' %}">Orders</a>
      <a class="p-2 text-dark text-decoration-none" href="{% url 'store:cashier-list' %}">Cashier</a>
      <a class="p-2 text-dark text-decoration-none" href="{% url 'store:vault-list' %}">Vault</a>
      <a class="p-2 text-dark text-decoration-none" href="{% url 'store:secretary-list' %}">Secretary</a>
      <a class="p-2 text-dark text-decoration-none" href="{% url 'store:deliveries-list' %}">Deliveries</a>
    </nav>
  </header>