{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Deliveries
{% endblock title %}


{% block content %}

<div class="container small">

    {% for object in object_list %}

    {% if object.status == 'delivered' %}
    <div class="alert alert-warning shadow"
        data-bs-toggle="collapse"
        href="#collapseExample{{object.pk}}"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample{{object.pk}}"
        role="alert">
            {% endif %}
            order#
            {{ object.ticket }}
            <span>({{object.status }}...)</span>
            <span>updated: {{object.updated|naturaltime}}</span>
            <div class="collapse"
                id="collapseExample{{object.pk}}">
                {% if object.status == 'printed' %}

                <form action="{{ object.mark_as_stamped }}"
                    method="post">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-success"
                        type="submit">mark as stamped</button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock content %}