{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Orders
{% endblock title %}


{% block content %}

<div class="container small">

    {% for object in object_list %}

    {% if object.status == 'payment pending' %}
    <div class="alert alert-primary shadow"
        role="alert">

        {% elif object.status == 'searching' %}
        <div class="alert alert-warning shadow"
            role="alert">

            {% elif object.status == 'printed' %}

            <div class="alert alert-info shadow"
                role="alert">

                {% elif object.status == 'delivered' %}

                <div class="alert alert-success shadow"
                    role="alert">

                    {% elif object.status == 'stamped' %}
                    <div class="alert alert-secondary shadow"
                        role="alert">
                        {% endif %}
                        order#
                        {{ object.ticket }}
                        <span>({{object.status }}...)</span>
                        <span>updated: {{object.updated|naturaltime}}</span>

                    </div>
                    {% empty %}
                    <div class="text-center">
                        <h3>no orders as yet</h3>
                    </div>

                    {% endfor %}
                </div>

                {% endblock content %}