{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Vault
{% endblock title %}


{% block content %}

<div class="container small">

    {% for object in object_list %}

    {% if object.status == 'searching' %}
    <div class="alert alert-warning shadow"
        data-bs-toggle="collapse"
        href="#collapseExample{{object.pk}}"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample{{object.pk}}"
        role="alert">
            {% endif %}
            order#
            {{ object.ticket }}
            <span>({{object.status }}...)</span>
            <span>updated: {{object.updated|naturaltime}}</span>
            <div class="collapse"
                id="collapseExample{{object.pk}}">
                {% if object.status == 'searching' %}

                <form action="{{ object.mark_as_printed }}"
                    method="post">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-success"
                        type="submit">mark as printed</button>
                </form>
                {% endif %}

            </div>

        </div>
        {% empty %}
        <div class="alert alert-success shadow text-center" role="alert">
            <h5>no orders are yet</h5>
        </div>

        {% endfor %}
    </div>

    {% endblock content %}